body {
    background-color: peachpuff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #2e8b57;
    padding: 1rem;
    text-align: center;
    color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #2e8b57;
    padding: 0.5rem 0;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar li a:hover {
    color: #87cefa;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* (4, 1fr) */
    gap: 16px;
}

.image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 8px;
}

#zoo {
    text-align: center;
}

#introduction {
    text-align: center;   
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

#search-section {
    align-content: normal;
    display: inline-block;
}

#search-bar {
    background-color: seashell;
    border-radius: 4px;
}

#search-button {
    background-color: lightslategray;
    font-weight: bold;
    border-radius: 3px;
}

footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

/* Using a mobile-first approach by adding mobile layout first*/
@media screen and (min-width: 500px)  {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}