body {
    background-color: peachpuff;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.animals {
    height: auto;
    width: 100%;

    display: block;
    object-fit: cover;
}

/* Add media query for responsiveness on mobile screen */