body {
    background-color: peachpuff;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* (4, 1fr) */
    gap: 16px;
}

.image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 8px;
}

#zoo {
    text-align: center;
}

#introduction {
    text-align: center;   
}

#search-section {
    align-content: normal;
    display: inline-block;
}

#search-bar {
    background-color: seashell;
    border-radius: 4px;
}

#search-button {
    background-color: lightslategray;
    font-weight: bold;
    border-radius: 3px;
}


/* Using a mobile-first approach by adding mobile layout first*/
@media screen and (min-width: 500px)  {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}